.side-bar {
    position: relative;
    display: flex;
    grid-area: side-bar;
    flex-direction: column;
    width: 224px;
    /* overflow-y: auto; */
    background-color: #030303;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

#logo{
    position: relative;
}
.tab{
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    /* padding-top: 10px; */
}
.playlist{
    margin-top: 25px;
    position: relative;
}