.container {
  position: relative;
  grid-area: container;
  width: 100%;
  bottom: 80px;
  left: 0px;
  top: 0px;

  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(113.83deg, #121212 0.59%, #121212 99.74%);
}

/* end container  */

/* begin navbar */
.container .topNav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  right: 20px;
  border-radius: 25px;
  border: 0.5px gray solid;
  background: black;
  cursor: pointer;
  height: 70%;
  position: relative;
  display: flex;
  justify-content: center;
}

.avatar:hover {
  background-color: #4e4e4e;
}

.avatar_name {
  display: inline-block;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin: auto 10px auto 10px;
}

.chevron {
  color: white;
  margin: 10px;
}

/* end navbar  */

/* begin line  */
.line {
  position: relative;
}

.line ul {
  list-style-type: none;
}

.line_text {
  position: relative;
  /* font-family: Circular Std; */
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #ffffff;
  left: 20px;
}

.line_descriptions {
  /* margin-top: 5px; */
  position: relative;
  /* font-family: Circular Std; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  color: whitesmoke;
  margin: 30px 0px 0px 20px;
}

.line_songs {
  position: relative;
  padding-bottom: 20px;
}

.song {
  position: relative;
  height: 273px;
  left: 32px;
  right: 907px;
  /* top: 64px; */
  border: 1px solid #525270;
  width: 200px;
  border-radius: 6px;
  background: linear-gradient(rgb(37 37 37), rgb(37 37 37));
  border: none;
}

.song:hover {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.9);
  cursor: pointer;
  background: #252525;
}
/* .song:hover > .song_info > .song_description,
.song:hover > .song_info > .song_name {
  color: rgb(255, 255, 255);
} */
.song:hover .song_img {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
}

.song_img {
  position: absolute;
  height: 171px;
  left: 16px;
  right: 16px;
  top: 16px;
  border-radius: 50%;
}

/* .song_info{
    position: a;
    margin: 10px;
    width: 100%;
    bottom: 0;
} */

.song_name {
  position: absolute;
  height: 18px;
  top: 190px;
  margin-left: 16px;
  color: #ffffff;
}

.song_description {
  position: absolute;
  height: 30px;
  margin-left: 16px;
  top: 227px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  /* White */

  color: whitesmoke;
}

/* end line  */

/* search */
.search-page {
  padding: 5px 30px 0 30px;
}

.search-bar {
  position: relative;
  top: 10px;
  width: 50%;
  display: flex;
  border-radius: 25px;
  padding-top: 2px;
  align-items: center;
  margin-bottom: 16px;
  background: white;
}

.search-icon-main {
  position: relative;
  padding: 10px;
}

.search-input {
  margin-left: 8px;
  width: 80%;
  border: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  outline: none;
}

.search-results {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 30px;
  height: 50%;
  flex-wrap: wrap;
}

.search-results h1,
h2,
h3,
h4 {
  color: white;
}

.search-top-result {
  width: 30%;
  min-width: 300px;
}

.top-result {
  padding: 20px;
  background: #181818;
  border-radius: 5px;
  position: relative;
}

.top-result:hover {
  background: #252525;
  cursor: pointer;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade 0.5s linear;
  opacity: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top-result h1,
h4 {
  margin: 5px 0 5px;
}

.top-result-img {
  height: 100px;
  border-radius: 5px;
}

.search-list {
  margin-left: 30px;
  position: relative;
  width: 60%;
  text-align: left;
  border-collapse: collapse;
}

.search-list > ul {
  list-style-type: none;
  padding-left: 10px;
}

.search-list > ul > li {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
}

.search-list > ul > li > div {
  display: flex;
}

.search-list > h2 {
  color: #ffffff;
  padding-left: 10px;
}

.search-list > ul > li:hover {
  background: #252525;
  cursor: pointer;
}

.search-list .thumbnail {
  height: 40px;
  padding-right: 10px;
  border-radius: 2px;
}

/* end search */

/* context-menu */

.song-context-menu {
  position: fixed;
  width: 200px;
  /* height: 100px; */
  vertical-align: center;
}

.song-menu {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  width: 200px;
  background-color: #181818;
  border-radius: 5px;
}

.song-menu li div {
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

/* Change the link color on hover */
.song-menu li div:hover {
  background-color: #4e4e4e;
  border-radius: 5px;
}

/* end context-menu */

/* playlist */

.playlist-page-name {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 96px;
  line-height: 96px;
  background: linear-gradient(transparent 0, rgb(104 102 223 / 50%) 100%);
  padding-bottom: 40px;
}

.playlist-song-table {
  position: relative;
  width: 100%;
  text-align: left;
  margin: 30px 3px;
  padding: 10px 0 10px;
  border-collapse: collapse;
}

.playlist-song-table > th,
td {
  padding: 10px 0 10px;
  border-top: 2px solid rgb(43, 41, 41);
  /* border: 0px solid #ddd;  */
}

.playlist-song-table > th {
  color: rgb(0, 0, 0);
  opacity: 0.8;
}

.playlist-page-song {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.playlist-song-table > .playlist-page-song:hover {
  color: rgb(109, 72, 72);
  opacity: 0.6;
  cursor: pointer;
  background: rgb(182, 182, 182);
}


/* responsesive */

