.home_page{
    position: absolute;
    width: 224px;
    height: 40px;
    left: 0px;
    top: 0px;
    background-color: rgb(68, 64, 64);
}

.search_box{
    position: absolute;
    width: 224px;
    height: 40px;
    left: 0px;
    top: 50px;
    background-color: rgb(68, 64, 64);
}

.library{
    
    position: absolute;
    width: 224px;
    height: 40px;
    left: 0px;
    top: 100px;
    background-color: rgb(68, 64, 64);

}