.home_page{
    position: relative;
    width: 204px;
    height: 40px;
    left: 5px;
    background-color: rgb(68, 64, 64);
    margin: 5px;
}

.search_box{
    position: relative;
    width: 204px;
    height: 40px;
    left: 5px;
    background-color: rgb(68, 64, 64);
    margin: 5px;
}

.library{
    position: relative;
    width: 204px;
    height: 40px;
    left: 5px;
    background-color: rgb(68, 64, 64);
    margin: 5px;
}