.playlist-title {
  position: relative;
  width: 214px;
  height: 15px;
  left: 10px;
  top: 0;
  font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}
.add-playlist {
  position: relative;
  width: 204px;
  height: 40px;
  left: 10px;
  background-color: rgb(68, 64, 64);
  margin-top: 5px;
}

.add-playlist:hover {
  background: #918b8b;
  opacity: 0.6;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  cursor: pointer;
}

.list-playlist {
  color: white;
  font-size: 14px;
}

.list-playlist > li:hover {
  opacity: 0.8;
  cursor: pointer;
}
