.playlist_title{
    position: relative;
    width: 214px;
    height: 15px;
    left: 10px;
    top: 0;
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.add_playlist{
    position: relative;
    width: 204px;
    height: 40px;
    left: 10px;
    background-color: rgb(68, 64, 64);
    margin-top: 5px;
}