.bottom-player {
    position: relative;
    grid-area: bottom-player;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgb(40, 40, 40);
    height: 80px;
    z-index: 2;
}

.song-details {
    position: relative;
    top: 7px;
    width: 30%;
    font-size: 40px;
    margin: 0 5px;
}

.song-thumbnail {
    position: absolute;
    width: 48px;
    height: 48px;
    margin: 10px;
}

.song-info {
    position: absolute;
    width: auto;
    height: auto;
    left: 62px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color:white;
    opacity: 0.6;
}

.favorite-button {
    position: relative;
    width: 16px;
    height: 16px;
    left: 150px;

    color: white;
    opacity: 0.7;
    cursor: pointer;
}

.pause-play-button {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 16px;
    left: 50%;
    padding: 10px;
    opacity: 0.7;
    color: white;
    cursor: pointer;
}

.skip-previous {
    position: absolute;
    width: 20px;
    height: 15px;
    top: 26px;
    opacity: 0.7;
    left: calc(50% - 50px);
    color: white;
    cursor: pointer;
}

.skip-next {
    position: absolute;
    width: 20px;
    height: 15px;
    left: calc(50% + 64px);
    top: 26px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

.volume-control {
    position: absolute;
    /* width: 30%; */
    /* font-size: 40px; */
    height: 30px;
    width: 150px;
    right: 0px;
    bottom: 0px;
}

.song-progress-container {
    position: absolute;
    display: flex;
    left: 36%;
    width: 30%;    
    bottom: 0px;
}
