.add-icon{
    position: absolute;
    left: 10px;
    top: 8px;
    color: #FFFFFF;
}

.add-title{
    position: absolute;
    width: 150px;
    height: 20px;
    left: 50px;
    top: 12px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}