.App {
  height: 100%;
  width: 100%;
  position: relative;
}

.App-Container {
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: fixed;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
      "side-bar container container"
      "bottom-player bottom-player bottom-player";
}


