.App {
  height: 100%;
  width: 100%;
  position: relative;
}

.App-Container {
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: fixed;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
      "side-bar container container"
      "bottom-player bottom-player bottom-player";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(94, 92, 92); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c09c9c; 
}
