.home-title{
    position: absolute;
    width: 100px;
    height: 20px;
    left: 60px;
    top: 12px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}
.home-icon{
    position: absolute;
    left: 20px;
    top: 8px;
    color: #FFFFFF;
}